/* body{
  background-color: #395144;
  color: #F0EBCE;
} */
/* :hover{
  color: #FFD1D1;
  cards: #4E6C50 #AA8B56

} */

.FormBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.FormPaper{
  width: 400px;
  height: 400px;
}
.FormHolder{
  padding-top: 20px;
  /* padding-left: 10px; */
}
.FormFields{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.Labels{
  font-size: 20px;
  
}
.LoginButton{
  width: 80px;
  height: 40px;
}